@import url("https://fonts.googleapis.com/css2?family=Anton&family=Varela&display=swap");

.projectCard__container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Varela", sans-serif;
}

.projectCard__background {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  break-inside: avoid;
  background-size: cover;
  cursor: pointer;
  height: 414px;
  width: 98%;
  border: 1px solid white;
}

.projectCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #eeee;
}

.projectCard__content {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 32px;
  left: 32px;
  opacity: 0;
  box-shadow: none;
  transition: opacity 0.2s ease-in;
}

.projectCard__overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, black);
  transition: opacity 0.5s ease-in;
}

.projectCard:hover .projectCard__content,
.projectCard:hover .projectCard__overlay {
  opacity: 1;
}

.projectCard__title {
  font-size: 1.517em;
  color: white;
  font-weight: 800;
  margin-bottom: 8px;
}

.projectBaseText {
  color: #ffffff;
  font-size: 13.9px;
  line-height: 2.3;
  font-weight: 300;
  margin-bottom: 10px;
}
/* 
.labelRow {
   height: 30px;
  width: 100%; 
   overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  word-wrap: break-word;
} */

.labelRow::-webkit-scrollbar {
  display: none;
}

.projectCard__name {
  margin-top: 28px;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

@media (max-width: 1419px) {
  .projectCard__background {
    width: 443px;
  }
}

@media (max-width: 920px) {
  .projectCard .projectCard__content,
  .projectCard .projectCard__overlay {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .projectCard__background {
    width: 350px;
    height: 327px;
  }

  .projectCard__container {
    width: 350px;
  }

  .projectCard__content {
    left: 22px;
  }

  /* .projectCard {
    width: 350px;
    height: 327px;
  } */
}
