.article {
  display: flex;
  padding: 39px 37px 22px;
  border: 1px solid #333333;
  border-radius: 10px;
  margin-bottom: 18.75px;
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
  text-decoration: none;
}

.dark .article {
  border: 1px solid white;
}

.article:hover {
  border: 2px solid #333333;
  font-weight: bold;
}

.dark .article:hover {
  border: 2px solid white;
}

.title {
  font-size: 26px;
  line-height: 30px;
  color: black;
}

.details {
  font-size: 14px;
  line-height: 30px;
  color: #828282;
}

.dark .details > span {
  color: #828282;
}
