@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.titleLabel {
  padding: 5px 25px;
  background: #9c9797;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #333333;
  width: fit-content;
}

.projectLabel {
  padding: 9px 21px;
  background: black;
  color: white;
  font-size: 12px;
  line-height: 26px;
  font-family: "Merriweather", serif;
  margin-right: 60px;
  width: fit-content;
}

.projectFilter {
  font-size: 13.9px;
  color: #545454;
  margin: 0px 1rem 0px 1rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 3px 9px;
  border-radius: 5px;
  /* white-space: nowrap; */
}

.projectFilter:hover {
  outline: 5px auto black;
}

.projectFilterClicked {
  color: white;
  font-weight: 800;
  font-size: 13.9px;
  margin: 0px 1rem 0px 1rem;
  background: #343a40;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 5px 22px;
  border-radius: 5px;
}

.projectCard__label {
  background: rgb(105, 104, 105);
  padding: 7px 12px;
  opacity: 0.9;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 11px;
  margin-right: 6px;
  margin-bottom: 0.25rem;
  color: #ffffff;
  font-weight: 500;
}

.dark .projectFilterClicked {
  background: #697179;
}

@media (max-width: 500px) {
  .projectCard__label:last-child {
    display: inline-block;
    margin-top: 15px;
  }

  .projectFilter{
    display: inline-block;
  }
}
