@import url("https://fonts.googleapis.com/css2?family=Anton&family=Varela&display=swap");
.container {
  padding: 0;
  font-family: "Varela", sans-serif;
  animation: transitionIn 1.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.introductionSection {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-bottom: 200px;
}

.hello {
  font-size: 18px;
  line-height: 102.7%;
  color: #333333;
  margin-bottom: 7px;
}

.name {
  font-family: "Anton", sans-serif;
  font-size: 144px;
  line-height: 102.7%;
  color: #333333;
  max-width: 543px;
  margin-bottom: 24px;
}

.lifeStory {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  max-width: 713px;
  margin-bottom: 46px;
}

.background {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999;
}

.projectSection {
  padding: 200px 0 200px 100px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.projectTitle {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  margin-bottom: 24px;
}

.projectIntro {
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.projectTitle a {
  text-decoration: none !important;
}

.seeAll {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.seeAll:hover {
  text-decoration: underline;
  color: #000000;
}

.carouselContainer {
  padding-right: 47px;
}

.articlesSection {
  padding: 130px 100px;
  display: flex;
  flex-direction: column;
}

.articleTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-bottom: 41px;
}

.articleIntro {
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.articleContent {
  max-height: 561px;
  max-height: 570px;
  /* -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  ); */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.articleContent::-webkit-scrollbar {
  display: none;
}

.contactOverlay {
  background: #333333;
  margin: 0 100px;
  border-radius: 10px;
}

.contactSection {
  padding: 91px 38px;
  display: flex;
  flex-direction: column;
}

.like {
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}

.subText {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 32px;
}

.contactBackground {
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .introductionSection {
    padding-left: 30px;
  }

  .name {
    font-size: 120px;
  }

  .projectSection {
    padding-left: 30px;
  }

  .projectTitle {
    padding-right: 30px;
  }

  .carouselContainer {
    padding-right: 0;
  }

  .articlesSection {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contactOverlay {
    margin: 0 30px;
  }
}

@media (max-width: 550px) {
  .name {
    font-size: 85px;
  }
}

@media (max-width: 500px) {
  .introductionSection {
    padding-left: 15px;
    max-width: 388px;
  }
  .projectSection {
    padding-left: 15px;
  }

  .projectTitle {
    padding-right: 15px;
  }

  .articlesSection {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contactOverlay {
    margin: 0 15px;
  }
  .carouselContainer {
    padding-left: inherit;
  }
}

@media (max-width: 400px) {
  .carouselContainer {
    padding-left: 11px;
  }
}
