@import url("https://fonts.googleapis.com/css2?family=Anton&family=Varela&display=swap");

.worksOverlay {
  animation: transitionIn 1.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.worksContainer {
  padding: 0 100px;
  font-family: "Varela", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleName {
  font-size: 70px;
  font-weight: 900;
  margin: 4rem 0 1.5rem;
  font-family: "Anton", sans-serif;
  margin-top: -50px;
}

.projectContent {
  max-width: 920px;
}

.filterSection {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.projectSection {
  margin-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 480px 480px;
}

.skeletonSizing {
  width: 443px !important;
  height: 414px !important;
}

@media (max-width: 992px) {
  .worksContainer {
    padding: 0 30px;
  }
  .projectContent {
    max-width: none;
    width: 100%;
  }
  .projectSection {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .proejctCard__container {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .projectSection {
    align-items: normal;
    max-width: 350px;
  }

  .worksContainer {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .worksContainer {
    padding: 0 10px;
  }

  .skeletonSizing {
    width: 350px !important;
    height: 327px !important;
  }
}
