.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 79px;
  padding-left: 100px;
  padding-top: 26px;
  padding-bottom: 27px;
}

.header-items {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.header-items a {
  text-decoration: none !important;
}

.header-items span {
  margin-right: 66px;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  line-height: 21px;
}

.headerHamburger {
  width: 20px;
  height: 2.2px;
  background-color: #333333;
  cursor: pointer;
  margin: 3px 0;
  display: none;
  border-radius: 2px;
  opacity: 0;
}

.dark .headerHamburger {
  background-color: white;
}

.activeStyles > span {
  font-size: 20px;
  text-decoration: underline;
  transition: all 1s ease 0s;
}

@media (max-width: 992px) {
  .header {
    padding-left: 30px;
  }

  .header-items {
    padding-right: 0;
  }
  .header-items > span {
    display: none;
  }
}

@media (max-width: 500px) {
  .header {
    padding-left: 15px;
  }
}
