.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 79px;
  padding-left: 100px;
  padding-top: 26px;
  padding-bottom: 27px;
}

.header-items {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.header-items > span {
  margin-right: 66px;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  line-height: 21px;
}
