.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > span {
  font-size: 18px;
  color: black;
  line-height: 23px;
}

.footerLinks {
  display: flex;
  align-items: center;
}
