.footerOverlay {
  width: 100%;
  height: 204px;
}

.footerBackground {
  background-size: cover;
  z-index: 999;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 149px 100px 31px 100px;
}

.footer > span {
  font-size: 18px;
  color: black;
  line-height: 23px;
}

.footerLinks {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
